# ============================================================
# KONFIGURASI ENVIRONMENT E-ABSENSI KEMENTERIAN HAM (EXAMPLE)
# ============================================================

# Port Server Express API
PORT=3000

# Driver Database: 'mysql' atau 'sqlite'
DB_DRIVER=mysql

# Konfigurasi Koneksi MySQL (XAMPP / CPanel / Hosting / Docker)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=kemenham_absensi

# Secret Key untuk Enkripsi JWT Session Admin
JWT_SECRET=supersecretkey_kemenham_sultra_2026
